<nav>
      <div class="logo">
            <h1>My <span>Farm</span></h1>
      </div>
      <div class="links">
            <ol>
                  <li id="link"><a href="/home">Home</a></li>
                  <li id="link"><a href="/farms">Farms</a></li>
                  <li id="link"><a href="/products">All Products</a></li>
            </ol>
      </div>
</nav>
