
:root{
      ---lightGreenColor: rgb(0, 255, 170);
      ---darkGreen: #2fb645;
      ---backgroundColor: rgb(0, 0, 0);
      ---transition: all 0.5s;
      ---containerColor: rgba(255, 255, 255, 0.041);
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Calibri Light';
}
body{
      padding-bottom: 8em;
}

button{
      cursor: pointer;
      background-color: var(---lightGreenColor);
      border: none;
      transition: var(---transition);
      font-size: 17px;
      padding: 0.5em;
      border-radius: 0.2em;
      margin-top: 0.5em;

      &:hover{
            background-color: var(---darkGreen);
            transition: var(---transition);
      }
}
nav{
      position: fixed;
      width: 100%;
      background-color: var(---backgroundColor);
      padding: 0.3em;
      display: flex;
      z-index: 1;

      h1{
            color: #fff;
            padding: 0.5em;

            span{
                  background-color: var(---lightGreenColor);
                  padding: 0.1em;
                  font-size: 23px;
                  color: #000000;
                  border-radius: 3px;
            }
      }

      .links{
            padding-right: 10em;
            margin: auto;
      }

      ol {
            list-style: none;
            display:  inline-flex;

            li{
                  padding-left: 4em;
                  font-size: 17px;

                  a{
                        text-decoration: none;
                        color: #fff;
                        padding: 0.5em;
                        transition: var(---transition);

                        &:hover{
                              background-color: var(---lightGreenColor);
                              color: #000000;
                              border-radius: 0.2em;
                        }

                  }
            }
      }

}

.container{
      width: 70em;
      margin: auto;
      padding: 2em;
      padding-top: 9em;
}

.heading{
      text-align: center;
      font-size: 50px;
      color: var(---darkGreen);
      text-transform: capitalize;
}
.products{
      margin-top: 2em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product{
      background-color: rgba(208, 230, 250, 0.87);
      margin: 1em;
      padding: 1em;
      border-radius: 0.3em;
}

.farms{
      margin-top: 2em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .farm{
            background-color: rgba(204, 255, 220, 0.87);
            margin: 1em;
            padding: 1em;
            border-radius: 0.3em;

            h1{
                  font-size: 18px;
                  text-align: center;
                  text-transform: uppercase;
                  background-color: #000000;
                  width: 100%;
                  color: #fff;
                  border-radius: 0.2em;
                  padding: 0.3em;
            }
      }
}

.describe{
      padding: 1em;
      h2{
            font-size: 17px;
            color: red;
      }

      h3{
            color: #0000006e;
            font-size: 16px;
            padding-left: 0.5em;
      }

      a{
            font-size: 14px;
            text-align: right;
      }
}

h4{
      font-style: italic;
      color: #0000006e;
      text-align: center;
}

#activeLink{
      background-color: var(---lightGreenColor);
      color: #000000;
      border-radius: 0.2em;
}

.container-one{
      width: 20em;
      padding: 1em;
      position: fixed;
      // z-index: -1;
      padding-top: 7em;
      padding-bottom: 8em;
      background-color: var(---backgroundColor);
}


.farmInfo{
      width: 20em;
      //  z-index: -1;
      background-color: var(---backgroundColor);
      // background-image: url(/assets/ethan-hoover-eIVJAkj1uCs-unsplash.jpg);
      // border-bottom-left-radius: 10em;
      // border-bottom-right-radius: 10em;


      h1{
            font-size: 25px;
            text-align: center;
            text-transform: capitalize;
            color: #fff;
      }
      h2{
            color: #a7a7a7;
            font-size: 15px;
            padding-top: 1em;
      }
      a{
            color: #fff;
      }

      #deleteBtn{
            margin-top: 2em;
            background: rgb(179, 16, 16);

            &:hover{
                  background: rgb(209, 15, 15);
            }
      }

      h3{
            text-align: center;
            color: rgb(141, 141, 141);
            padding-bottom: 1em;
            padding-top: 1em;
            font-size: 18px;
            width: 25em;
            margin: auto;
      }

      h4{
            text-align: left;
            color: #fff;
            padding-bottom: 0.5em;
            padding-top: 3em;
            font-size: 20px;
      }

      h5{
            color: #6464646e;
            font-size: 18px;
            padding-left: 0.5em;
            text-align: center;
            padding-bottom: 3em;
            border-bottom: 2px solid #252525;
            padding-top: 0.5em;
            font-style: italic;
      }
      .contents{
            padding-bottom: 3em;
            border-bottom: 2px solid #252525;
            margin-bottom: 0.5em;
      }

}

.farmContainer{
      display: flex;

      .products{
            padding-top: 4em;
            display: block;
            margin: auto;
            
            

            .productContainer{
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  padding-top: 1em;
                  padding-top: 8em;

                  // overflow-y: scroll;
                  // overflow-y: auto;
                 

                  .product{
                        width: 20em;
                        height: 10rem;

                        button{
                              font-size: 15px;
                        }
                  }
            }
      }

      .head{
            position: fixed;
            display: grid;
            place-items: center;
            margin: auto;
            width: 70%;
            margin-top: -1em;
            padding-top: 1em;
            background-color: #fff;
            
            #btns-one{
                  margin-bottom: 1em;

                  margin-left: -3em;
      
                  a{
                        margin-left: 3em;
                  }
            }
      }


}



.formContainer{
      padding-top: 7em;

      h1{
            text-align: center;
            padding-bottom: 1em;
      }
}

#formSubmit{
      margin: auto;
      background-color: #ebebeb;
      width: 30em;
      padding: 2em;
      // border-radius: 0.5em;

      h1{
            padding-bottom: 1em;
            text-align: center;
      }

      input{
            width: 100%;
            padding: 0.5em;
            font-size: 15px;
            border: none;
            margin-bottom: 0.7em;
      }

      select{
            width: 100%;
            padding: 0.5em;
            border: none;
            font-size: 15px;
      }
      textarea{
            width: 100%;
            height: 10em;
            padding: 1em;
            font-size: 15px;
            border: none;
            
      }

      button{
            margin-bottom: 0.5em;
      }
}

.hide{
      display: none;
}

.show{
      display: block;
}

.promptMsg{
      display: none;
      position: absolute;
}


    

.promptShow{
      z-index: 99999;
      position: fixed;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.678);
      height: 60em;

      .container{
            background-color: #ffffff;
            margin-top: 15em;
            width: 15em;
            // border: 2px solid #3b3b3b;
            padding: 0.2em;
            // border-radius: 0.3em;
            // box-shadow: 2px 2px 8px 1px;
      }

      h1{
            font-size: 14px;
            color: #000000;
            text-align: center;
            padding-bottom: 0.5em;
            padding-top: 0em;
      }

      .btns{
            display: flex;
      }

      form{
            display: grid;
            place-items: center;
            width: 100%;
      }
      #declineBtn{
            margin-top: 0;
            font-size: 30px;
            width: 1em;
            padding: 0;
            margin-top: 0;
            background: none;
            margin-left: 85%;
      }

      #deleteBtn{
            background: rgb(179, 16, 16);
      
            &:hover{
                  background: rgb(209, 15, 15);
            }   
      }
}

#notFound{
      color: #b4b4b4;
      font-style: italic;
      font-size: 20px;
      text-align: center;
      padding-top: 3em;
}

#promptDelete{
      margin-top: 2em;
      background: rgb(179, 16, 16);

      &:hover{
            background: rgb(209, 15, 15);
      }
}


.info{
      width: 100%;
      height: 37em;
      display: grid;
      place-items: center;
      h1{
            padding-top: 5em;
            font-size: 40px;
            text-transform: capitalize;
            color: var(---darkGreen);
      }
}

.infoContainer{
      background-color: #ebebeb;
      width: 30em;
      border-radius: 0.5em;
      padding: 2em;

      h1{
            padding-top: 0em;
            padding-bottom: 1em;
            text-align: center;
            color: #000000;
            text-transform: capitalize;
            font-size: 34px;
      }

      .btns{
            display: flex;

            button{
                  margin-top: 2em;
                  margin-right: 2em;
            }

            a{
                  padding-top: 0.4em;
            }

      }
}

#backLink{
      padding-top: 2.5em;
      padding-left: 4em;
}

#deleteBtn{
      background: rgb(179, 16, 16);

      &:hover{
            background: rgb(209, 15, 15);
      }  
}

#price{
      font-size: 30px;
}

.toProducts{
      padding-top: 2em;
}

#mainText{
      color: #5a5a5a;
}

.error{
      display: grid;
      place-items: center;
      padding-top: 10em;

      h1{
            color: #ff0000;
            font-size: 70px;
      }

      h3{
            font-size: 30px;
      }

      a{
            font-size: 18px;
            padding-top: 1em;
      }
}