<title>Error <%= err.status %>_-Products</title>
<% layout('layouts/boilerplate') %>
<div class="error">
      <img src="/assets/download.png" alt="">
      <h1><%= err.status %></h1>
      <h3><%= err.message %></h3>
</div>