<title>Deleted Product_-Products</title>
<% layout('layouts/boilerplate') %>

<nav>
      <div class="logo">
            <h1>My <span>Farm</span></h1>
      </div>
      <div class="links">
            <ol>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/farms" id="activeLink">Farms</a></li>
                  <li><a href="/products">All Products</a></li>
            </ol>
      </div>
</nav>

      <h1>Successfully deleted</h1>
<p><a href="/farms/<%= farmId %>"><<-all products</a></p>
